ul {
    &.discussion-list {
        .list-item {
            margin-bottom: 25px;

            > a {
                font-size: 1.125rem;
                font-weight: 700;
                line-height: 1.3;
                color: $licorice;
                text-decoration: none;
            }

            &-meta {
                font-size: .75rem;
                line-height: 1.5;

                .author {
                    color: $licorice;
                }

                .date {
                    margin: 0 .5rem;
                }

                .count {
                    //
                }
            }
        }
    }
}
