ul {
    &.discussion-list {
        .list-item {
            margin-bottom: 25px;

            &-meta {
                .author {
                    color: $licorice;
                }

                .date {
                    margin: 0 .5rem;
                }

                .count {
                    //
                }
            }
        }
    }
}

.list-item-head {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.3;
    color: $licorice;
    text-decoration: none;
}

.list-item-meta {
    font-size: .75rem;
    line-height: 1.5;
}
