.dropdown-item {
    font-size: .85em;
    font-weight: 700;
    color: rgba($licorice, .5);

    &:active,
    &.active {
        color: #fff !important;
    }

    &:hover {
        color: $licorice;
    }
}

.dropdown-toggle {
    &::after {
        top: 1px;
        position: relative;
    }
}
