.form-group {
    margin-bottom: 1rem;

    > label {
        margin-bottom: 3px;
        display: block;
        font-weight: 600;
    }
}

.form-control {
    border-radius: 5px;
    width: 100%;
    padding: 0 15px;
    line-height: 1.2;
    color: $gray;
}

input {
    &.form-control {
        height: 40px;
    }
}

textarea {
    &.form-control {
        padding: 15px;
    }
}
