.group-item {
    margin-bottom: 0;

    h3 {
        font-weight: 700;
        font-size: 1em;
        line-height: 1;
    }

    &-meta {
        font-size: .75em;
        color: rgba($licorice, .8);
    }
}

.group-color {
    background-color: $blue;
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    color: #fff;
    padding: 0 .25rem;
    text-align: center;
    border-radius: 3px;
    font-weight: 600;
}

.group-display {
    width: 30px;
    height: 30px;
    border: 3px solid #fff;
    background: $licorice;

    &:not(:first-of-type) {
        margin-left: -12px;
    }

    &:hover {
        z-index: 10;
    }

    &-clear {
        border-color: darken($white-smoke, 5%);
    }
}
