.group-item {
    background: $green;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 1rem;
    color: #fff;
    padding: 2rem .5rem;

    &:hover {
        box-shadow: inset 0 -7em 0 rgba(#fff, .15);
        color: #fff;
    }
}
