.group-item {
    margin-bottom: 25px;

    a {
        display: block;
        font-size: 1.25em;
        font-weight: 700;
        line-height: 1;
        color: $licorice;
        text-decoration: none;
        font-size: 1.125rem;
    }
}

.group-color {
    background-color: $blue;
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    color: #fff;
    padding: 0 .25rem;
    text-align: center;
    border-radius: 3px;
    font-weight: 600;
}
