.hero {
    padding: 3.75rem 0;

    h1 {
        font-size: 2.25rem;
        line-height: 1.15;
        color: $licorice;
    }

    p {
        font-size: 1.5rem;
        line-height: 1.35;
        
        @include media-breakpoint-up(lg) {
            max-width: 768px;
        }
    }
}
