.notification {
    background-color: $grey-1;
    border-radius: 5px;
    margin-bottom: 2rem;
    font-size: .85em;
    line-height: 1.45;
    padding: .5rem .75rem;
    text-align: center;
    color: $grey-5;
}
