.pagination {
    .page-item {
        border-radius: $border-radius;
        margin: 0 .25rem;

        a {
            transition: none;
        }

        &:first-of-type,
        &:last-of-type {

        }

        &:hover {
            &:not(.disabled):not(.active) {
                background: $blue;

                .page-link {
                    color: #fff;
                }
            }
        }

        &.active {
            background: rgba($gray, .2);

            span {
                color: $gray;
            }
        }

        .page-link {
            background: transparent;
            border: 0;
            font-size: .75rem;
            font-weight: 700;
            color: $licorice;
        }

        &.disabled {
            span {
                color: $gray;
            }
        }
    }   
}
