$licorice: #121212;

$grey-0: #f9f9f9;
$grey-1: #f5f5f5;
$grey-2: #dddddd;
$grey-3: #999999;
$grey-4: #666666;
$grey-5: #464646;

$red: #f64646;
$green: #46c891;
$blue: #3081f2;
$yellow: #ffd151;

$body-bg: #fff;
$body-color: $grey-3;

$font-family-sans-serif: 'Nunito', sans-serif;

$theme-colors: (
    'red': $red,
    'green': $green,
    'blue': $blue,
    'yellow': $yellow
);

$border-radius: .3125rem;

$btn-font-weight: 700;
