$white-smoke: #F7F7F7;
$licorice: #121212;
$arsenic: #444;
$gray: #888;
$eerie-black: #1B1D1E;

$yellow: #FABC3C;
$berry: #88527F;
$melon: #0CCE6B;
$dodger-blue: #2191FB;

$red: #f64646;
$green: #46c891;
$blue: #3081f2;
$yellow: #ffd151;

$blue: #6279DB;
$pink: #D36582;

$secondary: #fff;

$body-bg: #fff;
$body-color: $licorice;

$font-family-sans-serif: 'Nunito', sans-serif;

$theme-colors: (
    'red': $red,
    'green': $green,
    'blue': $blue,
    'yellow': $yellow
);

$link-color: $licorice;
$link-hover-color: lighten($link-color, 30%);
$link-hover-decoration: none;

$border-radius: 5px;

$input-border-color: lighten($gray, 20%);
$input-btn-focus-box-shadow:  0 0 0 .2rem lighten($input-border-color, 15%);

$input-btn-padding-x: 1.75rem;
$input-btn-padding-y: .75rem;

$input-btn-padding-x-sm: 1.25rem;
$input-btn-padding-y-sm: .35rem;

$btn-font-weight: 700;
$btn-border-radius: 30px;
$btn-border-radius-sm: 30px;

$dropdown-link-active-bg: $blue;
