// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Rubik:400,500,700,900');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap-grid';

@import 'forms';
@import 'buttons';

html {
    background-color: $grey-1;
    font-family: 'Nunito', sans-serif;
    -ms-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    font-size: 1em;
}

.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
}

p {
    line-height: 1;
}

a {
    color: inherit;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}
