<div class="navbar">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="navbar-brand">
                    <a href="/">Firefly</a>
                </div>

                <ul class="navbar-links">
                    <li class="navbar-links"><a href="#" class="btn btn-link">Sign in</a></li>
                    <li class="navbar-links"><a href="#" class="btn btn-primary">Sign in</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="bg-white py-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="parent">
                    <div class="parent-title">
                        <h1>Discussions</h1>
                    </div>

                    <ul class="parent-tabs">
                        <li class="active"><a href="#">Top</a></li> 
                        <li><a href="#">Trending</a></li> 
                        <li><a href="#">New</a></li> 
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-grey py-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="post-list">
                    <div class="post-list-item">
                        <div class="post-list-title">
                            <a href="#">My first discussion</a>
                        </div>

                        <div class="post-list-author">
                            Started by <a href="#">Tom Irons</a> 05 Oct 2018, 20:14 PM
                        </div>
                    </div>
                    <div class="post-list-item">
                        <div class="post-list-title">
                            <a href="#">My first discussion</a>
                        </div>

                        <div class="post-list-author">
                            Started by <a href="#">Tom Irons</a> 05 Oct 2018, 20:14 PM
                        </div>
                    </div>
                    <div class="post-list-item">
                        <div class="post-list-title">
                            <a href="#">My first discussion</a>
                        </div>

                        <div class="post-list-author">
                            Started by <a href="#">Tom Irons</a> 05 Oct 2018, 20:14 PM
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
