<div class="navbar">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="navbar-brand">
                    <a href="/">Firefly</a>
                </div>

                <ul class="navbar-links">
                    <li class="navbar-links"><a href="#" class="btn btn-link">Sign in</a></li>
                    <li class="navbar-links"><a href="#" class="btn btn-primary">Sign in</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="bg-white py-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="parent">
                    <div class="parent-title">
                        <h1>My first discussion</h1>
                    </div>

                    <div class="parent-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo accusantium ipsam assumenda neque illo eum dolorem soluta sunt similique itaque reprehenderit quam asperiores, suscipit dolores. Consequatur enim aliquam, suscipit odit!</p>
                    </div>

                    <div class="parent-author">
                        Posted by <strong>Tom Irons</strong> on October 5th, 2018
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-grey py-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="posts">
                    <div class="post">
                        <div class="post-author">
                            <a href="#">Tom Irons</a>
                        </div>

                        <div class="post-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro repudiandae, vel voluptatibus perspiciatis!</p>
                        </div>

                        <div class="post-options">
                            <a href="#">hide</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
